*
{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;       
}

.main
{
    max-width: 1280px;
    margin: 0 auto;   
    display: flex;
    flex-direction: column;
}

h2
{
    text-align: center;
}

#table1
{
    width: 45%;
}

.list_case
{
    width: 50%;
}